name: version
on:
  pull_request:
    branches:
     - $default-branch
    types:
     - closed
    paths:
     - '!some_file.txt'
  workflow_dispatch:
permissions: read-all

jobs:
  bump:
    if: github.event.pull_request.merged
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.base_ref }}

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Push a version bump commit to ${{ github.base_ref }}
        run: |
          git config user.name "auto-release"
          git config user.email "artem@panchenko.email"
          echo 123 > version.txt
          git add version.txt
          git commit -m "Automatic Release: 123"
          git push origin ${{ github.base_ref }}
